*,*::before,*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Comfortaa', cursive;
}

.navbar {
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  animation: fadeInDown 0.5s ease-in both;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar-nav a:hover {
  border-bottom: 3px solid white;
  color: white;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%) !important;
  background-color: transparent !important;
}

.navbar-brand>img:hover {
  transform: scale(1.5);
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
}

.home {
  padding-top: 10%;
  margin: auto;
  min-height: 100vh;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

}

.msg {
  padding-top: 5px;
  animation: fadeInDown 1s ease-in both;
}

.designation {
  animation: fadeInLeft 0.5s ease-in both;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.heading h1 {
  text-decoration:  dotted #006dac underline 6px;
  animation: fadeInLeft 1s ease-in both;
}

.heading p {
  font-size: 20px;
  animation: fadeInLeft 1.5s ease-in both;
}

strong {
  color: black;
}

.portofolio-pic img {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #0093E9;
  margin-bottom: 30px;
  box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
  animation: fadeInRight 2s ease-in both;
}

.heading a:link {
  background-color: lightgreen;
  text-decoration: none;
  color: black;
}
.heading a:visited {
  color: black;
  text-decoration: none;
}

.heading a:hover {
  color: #0093E9;
  background-color: white;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.about .row {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.about h2 {
  padding-top: 70px;
}

.content h2,
h4 {
  font-weight: 500;
  margin: 20px 0 10px 0;
}

.about h2 {
  text-decoration: dotted #006dac underline 6px;
}

.content h4 {
  color: #0093E9;
}

.content span {
  color: #383d3b;
}

.content strong {
  color: #0093E9;
}

.paragraph p {
  font-size: 20px;
  margin: 1.3rem 0 0.6rem 0;
}

.paragraph strong {
  color: #0093E9;
}

.portfolio{
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.col-lg-12{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.portfolio h2 {
  font-weight: 500;
  margin: 20px 0 10px 0;
}

.portfolio p {
  font-size: 20px;
}

.portfolio h2 {
  text-decoration: dotted #006dac underline 6px;
}

.text {
  border-bottom: 2px dotted black;
}

.img-wrapper>img:hover {
  transform: scale(1.05);
}

.contact {
  width: 500px;
  padding: 30px;
  background: #FFFFFF;
  margin: 50px auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}

.contact {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.contact input[type=text],
.contact input[type=email],
.contact textarea {
  box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
}

.contact textarea {
  resize: none;
  overflow: hidden;
}

.contact button {
  box-shadow: inset 0px 1px 0px 0px #45D6D6;
  background-color: #0093E9;
  display: inline-block;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 14px;
  padding: 8px 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.contact button:hover {
  background: linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
  border: 2px solid #27A0A0;
}

#form-submitted-msg {
  margin-bottom: 3rem;
  border-radius: 3px;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  color: #fff;
  display: none;
}

.input-control.error textarea {
  border-color: #ff3860;
}

.input-control.error input {
  border-color: #ff3860;
}

.input-control .error {
  color: #ff3860;
  font-size: 10px;
  height: 15px;
}

.footer {
  margin: auto;
  padding: 20px 10%;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  text-align: center;
}

.footer-item {
  text-align: center;
}

.fa-facebook-f {
  background: #3B5998;
  color: white;
  padding: 15px;
  font-size: 15px;
  width: 50px;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-linkedin-in {
  background: #007bb5;
  color: white;
  padding: 15px;
  font-size: 15px;
  width: 50px;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

a#scroll-btn {
  position: absolute;
  height: 65px;
  width: 30px;
  border: 2px solid #FFFFFF;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 100px;
  border-radius: 100px;
}

a#scroll-btn:before {
  position: absolute;
  content: "";
  margin: auto;
  left: 0;
  right: 0;
  top: 5px;
  height: 8px;
  width: 8px;
  background-color: #FFFFFF;
  border-radius: 50%;
  animation: move-down 2s infinite;
}

@keyframes move-down {
  80% {
    opacity: 0.5;
  }

  100% {
    transform: translateY(40px);
    opacity: 1;
  }
}

a#scroll-btn::after {
  position: absolute;
  content: "Scroll Down";
  display: block;
  width: 160px;
  text-align: center;
  left: -58px;
  bottom: -35px;
  font-size: 20px;
  color: #fff;
  letter-spacing: 3px;
  font-weight: 550;
}

@media screen and (max-width:992px) {
  a#scroll-btn {
    display: none;
  }
}

@media screen and (max-width:550px) {
  .contact {
    width: 330px;
  }
}

@media screen and (max-width:350px) {
  .contact {
    width: 200px;
  }
  .contact h3 {
    width: auto;
  }
  .contact button {
    width: auto;
    margin-left: -18px;
  }
}

.typed-text {
  font-weight: normal;
  color: #FFE32C;
}

.cursor {
  display: inline-block;
  width: 2px;
  background-color: #ccc;
  animation: blink 1s infinite;
  margin-left: -0.4rem;
}

.cursor.typing {
  animation: none;
}

@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

.js-scroll {
  opacity: 0;
}

/*carousel*/
.carousel-inner {
  padding: 1em;
}
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .carousel-item {
    margin-right: 0;
    flex: 0 0 33.333333%;
    display: block;
  }
  .carousel-inner {
    display: flex;
  }
}
.card .img-wrapper {
    max-width: 100%;
    height: 13em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card img {
    max-height: 100%;
}
@media (max-width: 767px) {
  .card .img-wrapper {
    height: 17em;
  }
}